Source: rdwxutils
Priority: optional
Maintainer: Richard Day <r.day80@gmail.com>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9), pkg-config, rdlib, libwxgtk3.0-dev

Package: rdwxutils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Various wxWidgets based utilities
